## Related Area:
- PySpark Dataframe
- Reading the Dataset
- Checking the Datatypes of the column (Schema)
- Selecting Columns and Indexing
- Check Describe option similar to pandas
- Adding columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/24 16:21:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/24 16:21:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [9]:
## read the dataset
df_pyspark=spark.read.option('header','True').csv('test1.csv',sep=';',inferSchema=True)

In [10]:
### check the schema(data type)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [12]:
###read file 2nd option
df_pyspark=spark.read.csv('test1.csv',sep=';',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|Sanowar| 42|        10|
|Hossain| 30|         8|
|  Sunny| 29|         4|
+-------+---+----------+

In [13]:
### check the schema(data type)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns

['Name', 'age', 'experience']

In [16]:
df_pyspark.head(3)

[Row(Name='Sanowar', age=42, experience=10),
 Row(Name='Hossain', age=30, experience=8),
 Row(Name='Sunny', age=29, experience=4)]

In [19]:
#how do we select columns
df_pyspark.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|Sanowar| 42|        10|
|Hossain| 30|         8|
|  Sunny| 29|         4|
+-------+---+----------+

In [20]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|Sanowar|
|Hossain|
|  Sunny|
+-------+

In [21]:
df_pyspark.select(['Name','experience']).show()

+-------+----------+
|   Name|experience|
+-------+----------+
|Sanowar|        10|
|Hossain|         8|
|  Sunny|         4|
+-------+----------+

In [22]:
df_pyspark['Name']

Column<'Name'>

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [25]:
###describe option
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+
|summary|   Name|               age|       experience|
+-------+-------+------------------+-----------------+
|  count|      3|                 3|                3|
|   mean|   null|33.666666666666664|7.333333333333333|
| stddev|   null| 7.234178138070234|3.055050463303893|
|    min|Hossain|                29|                4|
|    max|  Sunny|                42|               10|
+-------+-------+------------------+-----------------+

In [27]:
## adding columns
df_pyspark.withColumn('experience after 2 year',df_pyspark['experience']+2).show()

+-------+---+----------+-----------------------+
|   Name|age|experience|experience after 2 year|
+-------+---+----------+-----------------------+
|Sanowar| 42|        10|                     12|
|Hossain| 30|         8|                     10|
|  Sunny| 29|         4|                      6|
+-------+---+----------+-----------------------+

In [31]:
### drop the columns
df_pyspark=df_pyspark.drop('experience after 2 year')
df_pyspark.show()

+-------+---+----------+
|   Name|age|experience|
+-------+---+----------+
|Sanowar| 42|        10|
|Hossain| 30|         8|
|  Sunny| 29|         4|
+-------+---+----------+

In [32]:
## rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|experience|
+--------+---+----------+
| Sanowar| 42|        10|
| Hossain| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+